<ion-view name="Home-view" >
  
    <ion-side-menus>
 
            <ion-side-menu-content>
    
              <ion-nav-bar class="bar-dark  costum-dark"  align-title="center">
              <ion-nav-title>
                <div class="row">
                  <div class="col">
                                    <img src="{{logosrc}}" class="logo"/>
                  Home

                  </div>
              </div>
                </ion-nav-title>
              <ion-nav-buttons side="left">
                  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                  </ion-nav-buttons>
              <ion-nav-buttons side="right">
                  <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
              </ion-nav-buttons>
              </ion-nav-bar>
              <ion-content  class="has-header">
                <div class="item item-avatar" style="background-color: #e6e6fa">

                  <img src="{{info.portrait}}">
                  <h2>Welcome {{info.name}}</h2>
                  <p>{{info.locality}}</p>
                  <div class="row">
                    <button class="button icon button-small" title="show my messages" ng-click="showmessage({{info}})" >my messages</button>
                    <button class="button icon button-small" title="show my smallads" ng-click="showsmallad({{info}})">my Smalladss</button>
                    <button class="button icon button-small" title="create a smallad" ng-click="createsmld({{info}})">Create Smallad</button>
                  </div>
                </div>
                <div>

                  
                  <li class="item" ng-repeat="Trans in Transactions" >  
                    <h2>From: {{Trans.payer.name}}</h2>
                    <h2>to: {{Trans.payee.name}}</h2>
                    <p>{{Trans.description}}</p>
                    <p>Amount: {{Trans.quantity}}</p>
                    Skill:
                    <div class="row"> 
                      <img class="skillicon" ng-src="{{myfunction(skill)}}" ng-repeat="skill in Trans.categories" />
                    </div>                      
                </li>
                </div>
                <ion-infinite-scroll on-infinite="doRefresh()" distance="0%"></ion-infinite-scroll>
              </ion-content>
                
               </ion-side-menu-content>

              <ion-side-menu side="left">
                <header class="bar bar-header bar-assertive">
                  <div class="title">Transactions Filter</div>
                </header>
                <ion-content class="has-header" >


                <div class="list">
                  <li class="item">
                    <label class="item item-input">
                    <span class="input-label">Key Word</span>
                    <input type="text" ng-model="keyword">
                  </label>
                  </li>
                                     
                 
                  <li class="item">
                    <div class="input-label">
                          Categories
                        <select ng-model="Cate" style="width:160px">
                          <option ng-repeat='Cats in categories' value="{{Cats.name}}">{{Cats.name}}</option>
                          <option value="All" ng-selected="true">All</option>
                        </select>
                    </div>
                    
                  </li>
                  <li class="item">
                    <div class="input-label">
                          LOcality
                        <select ng-model="loca" style="width:160px">
                          <option ng-repeat='loc in appconfig.localities' value="{{loc}}">{{loc}}</option>
                          <option value="All" ng-selected="true">All</option>
                        </select>
                    </div>
                    
                  </li>
                  <li class="item item-checkbox" >
                         <label class="checkbox">
                           <input type="checkbox" ng-model="myTrans">
                         </label>
                         My Transactions
                      </li>
                  <li class="item-input">
                    <label class="item-input">
                      <span class="input-label">Date</span>
                      <input type="month" ng-model="date">
                    </label>
                  <li/>  

                  <li class="item">
                    <button class="button button-block button-positive" ng-click="filter(date,loca,myTrans,keyword,Cate)" menu-toggle="left">
                    Filter
                  </button>
                  </li>

              </div>
              
            



                </ion-content>
              </ion-side-menu>
          
</ion-side-menus>

</ion-view>