<ion-view>
   
    
   
  <ion-tabs class="tabs-icon-top tabs-dark">
    
    <ion-tab title="Home" icon="ion-home" href="#/main/home">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Members" icon="ion-earth" href="#/main/profiles">
      <ion-nav-view name="member-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Smallads" icon="ion-hammer" href="#/main/Smallads">
      <ion-nav-view name="Smallads-tab"></ion-nav-view>

    
  </ion-tabs>
</ion-view>