<ion-view name="user-view">

   
     <ion-side-menus>
 
            <ion-side-menu-content>
    
              <ion-nav-bar class="bar-dark costum-dark">
              <ion-nav-title>

                 <div class="row">
                  <div class="col">
                                    <img src="{{logosrc}}" class="logo"/>
                  Smallads

                  </div>
              </div>

                </ion-nav-title>
              <ion-nav-buttons side="left">
                  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                  </ion-nav-buttons>
              </ion-nav-bar>
              <ion-content  class="has-header">
               

                  <li class="item item-avatar" ng-repeat="smld in Smallad">  
                    <img src="{{smld.image}}">
                    <div class="row">
                      <div class="col col-75">
                        <h2>{{smld.title}}</h2>
                      </div>
                      <div class="col">
                        <h2>{{smld.type}}</h2>
                      </div>
                    </div>
                    <h3>{{smld.name}}</h3>
                     <p>{{smld.locality}}</p>
                    <div class="row">
                      <div class="col col-75">
                        <img class="skillicon" ng-src="{{myfonction(skill)}}" ng-repeat="skill in smld.categories" />
                      </div>     
                      <div class="col">
                          <button class="button icon button-small ion-android-textsms" title="send a message" ng-click="sendMess(smld)" style="border-radius:100%"></button>
                          <button class="button icon button-small ion-eye" title="show the smallad description" ng-click="smldescription(smld)" style="border-radius:100%"></button>
                
                      </div>
                  </div>  
                </li>
                <ion-infinite-scroll on-infinite="doRefresh()" distance="0%"></ion-infinite-scroll>
              </ion-content>
                
               </ion-side-menu-content>

              <ion-side-menu side="left">
                <header class="bar bar-header bar-assertive">
                  <div class="title">Smallads Filter</div>
                </header>
                <ion-content class="has-header" >                      
                          <ul class="list">
                            <li class="item">
                              <label class="item item-input">
                                <span class="input-label">Key Word</span>
                                <input type="text" ng-model="keyword">
                              </label>
                            </li>
                            <li class="item">
                              <div class="input-label">
                                Type
                                <select ng-model="Type" style="width:160px">
                                  <option value="Offers">Offers</option>
                                  <option value="Wants" ng-selected="true">Wants</option>
                                </select>
                             </div>
                            </li>
                             <li class="item">
                              <div class="input-label">
                                    LOcality
                                  <select ng-model="Location" style="width:160px">
                                    <option ng-repeat='loc in appconfig.localities' value="{{loc}}">{{loc}}</option>
                                    <option value="All" ng-selected="true">All</option>
                                  </select>
                              </div>
                              
                            </li>

                            <!-- <div class="input-label">
                                Location
                                <select ng-model="Location" style="width:160px">
                                  <option value="Default">Default</option>
                                  <option value="Center">Center on me</option>
                                  <option value="Mcenter" ng-selected="true">Map Center</option>
                                </select>
                             </div>
                            </li>

                            <li class="item range">
                              Radius:* {{radius}} *
                              <i>  1Km</i>
                              <input type="range" min="1" max="100"  ng-model="radius">
                              <i>100Km</i>
                            </li>-->
                            <li class="item">
                              <div class="input-label">
                                Categories
                                <select ng-model="CategoryS" style="width:160px">
                                  <option ng-repeat='Cats in categories' value="{{Cats.name}}">{{Cats.name}}</option>
                                  <option value="All" ng-selected="true">All</option>
                                </select>
                             </div>
                            </li>
                            <li class="item">
                              <button class="button button-block button-positive" ng-click="filter(Type,Location,radius,CategoryS,keyword)" menu-toggle="left">
                              Filter
                              </button>
                            </li>
                          </ul>                      
                </ion-content>
              </ion-side-menu>
          
</ion-side-menus>
  <ion-content class="padding">





  </ion-content>
</ion-view>