body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #f7f8fa;
}

.custom-icon {
  font-size: 20px;
  color : blue;
}
.tabs-dark > .tabs{
background-color: red !important;
border-color: red;
}
 .bar.bar-dark {
border-color: #2C3E50;
background-color: #2C3E50;
background-image: none;
}
.bar.bar-dark .title {


    top:-8px;
    right:10px;
    color: #f4f4f4;
}
.logo{

  width: 40px;
  border-radius:100%;
  position:static;
}


.skillicon{
	width: 30px;
	border-radius:100%;
}
.styling{
	width:320px;
	height: :400px;

}

.myPopupClassNewTrans .popup {
background-color: #333;
color:#000;

}
.myPopupClassNewTrans .popup-body {
color:#000;
}
.myPopupClassNewTrans .popup-title {
  color:#fff;

}

.myPopupClassNewTrans .popup-buttons .button{
   background-color: #333;
   color:#fff;

}



.myPopupClassNewSmld .popup {
background-color: #333;
width:95%;
color:#000;

}
.myPopupClassNewSmld .popup-body {
color:#000;
width:100%;
margin-left:9px;

}
.myPopupClassNewSmld .popup-title {
  color:#fff;

}

.myPopupClassNewSmld .popup-buttons .button{
   background-color: #333;
   color:#fff;

}



.myPopupClass .popup {
width: 95%;
background-color: #333;
color:#fff;

}


.myPopupClass .popup-body {
color:#000;
height: 900px;
}
.myPopupClass .popup-title {
  color:#fff;

}

.myPopupClass .popup-buttons .button{
   background-color: #333;
   color:#fff;
   width:50%;
}

.type1{ /*myaddpopup view*/
  width: 90%;
  height: 100%;
  
  top:22%;
  left:5%;
  background-color: #333;

}
.type2{ /*myadpopup header*/
top:1%;
width:90%;
left: 5%; 
right:5%;
background-color: #333;

  
}
.type3{ /*myadpopupcontent*/
  height: 70%;
  top:50px;
width:303px;
left: 5%;
background-color: #333;
  
}
.type4{/*myadpopuplist*/

width:90%;
left: 5%;
right:5%;
background-color: #aaf:
  
}
.type5{

width:110%;
color:#000;
background-color: #aaf:
  
}